body{
    background-color: #2A363B;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

h2,header{
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
    margin-right: 20px;
    margin-left: 20px;

}

article{
    margin-bottom: 20px;
}

section nav{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}
div nav{
    text-align: left;
    font-size: 20px;
}

/* Top navigation */
nav a{
    color:black;
    text-decoration:none;
    text-align: center;
    display: inline-block;
    width: 20%;
    height:30px;
    background-color: blanchedalmond;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
}

/* Apartment icons */
ul a{
    text-align: center;
    text-decoration:none;
    color: #2A363B;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
}

ul li{
    display:inline-block;
    width:100px;
    color:black;
    overflow: hidden;
}

img{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    width: 3em;
}

label{
    word-wrap: break-word;
    text-align: center;
    display:block;
    width: 200px;
}

section{
    height:100%
}
ul{
    padding:0px;
    display:inline-block;
    text-align: center;
}

a:hover{
    background-color: blueviolet;
    color:white;
}
.top{
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alerts{
    color:#E84A5F;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
/* folder view containing side tabs and lists */
.items{
    background-color: blanchedalmond;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

/* content inside items on the right column */
.box{
    vertical-align: top;
    width: 80%;
    display: inline-block;
    margin-top:30px;
    text-align: center;
    margin:10px;
}

/* links of individual units or buildings */
.box li{
    margin:20px;
}

/* Side navigation */
.new {
    width: 50px;
    font-size: 13px;
    padding: 7px;
    color: blanchedalmond;
    background-color: #2A363B;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
 /* Top navigation colors */
 .tenants, .vendors{
    background-color: #E84A5F;
}
 /* Top navigation colors */
 .managers{
    background-color: #99B898;
 }

 /* Side navigation parent vertical align */
 .vertnav{
     display: inline-block;
     width:10%;
     vertical-align: top;
     margin:5px;
     height:100%;
 }

 /* Side bar buttons */
 .vertnav a{
     height:50px;
     margin:5px;
     text-align: center;
 }

 /* style for units page links */
 ul .units, .item_style{
     text-align: center;
     width:150px;
     margin:5px;
 }