body,.login{
    background-image: url("/../static/images/dark_embroidery.png");
}

h1 {
    color: white !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

h2,header{
    font-family: 'Special Elite', cursive;
    font-size: 1.3em;
    margin-right: 20px;
    margin-left: 20px;
}

article{
    margin-bottom: 20px;
}

section nav{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}
div nav{
    text-align: left;
    font-size: 20px;
}

/* Top navigation */
nav a{
    color:black;
    text-decoration:none;
    text-align: center;
    display: inline-block;
    width: 20%;
    height:30px;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
}

/* Apartment icons */
ul a{
    text-align: center;
    text-decoration:none;
    color:black;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
}

ul li{
    display:inline-block;
    width:100px;
    color:black;
    overflow: hidden;
}

img{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    width: 3em;
}

img:hover{
    background-image: url("/../static/images/apartment_purple.png");
}

label{
    color:white;
    word-wrap: break-word;
    text-align: center;
    display:block;
    width: 200px;
}

section{
    height:100%
}

ul{
    padding:0px;
    display:inline-block;
    text-align: center;
}

form{
    text-align: center;
    border-radius: 10px;
    padding:20px;
}

.buildings, .rooms, .items{
    display: inline-block;
    vertical-align: top;
    background-image:url("/../static/images/crossword.png");
}

.buildings:hover{
    color:blueviolet;
}
a:hover{
    background-color: blueviolet;
    color:white;
}


.top{
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alerts{
    color:#E84A5F;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
/* folder view containing side tabs and lists */
.items{
    background-image:url("/../static/images/crossword.png");
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    width:98%;
}

/* content inside items on the right column */
.box{
    vertical-align: top;
    width: 80%;
    display: inline-block;
    margin-top:30px;
    text-align: center;
    margin:10px;
}

/* links of individual units or buildings */
.box li{
    margin:20px;
}

.logout:hover, .box a:hover{
    color: blueviolet;
    background-color: transparent;
    font-weight: bold;
}

/* Side navigation */
.new {
    width: 55px;
    font-size: 13px;
    color: white;
    background-color: #222222;
    text-decoration: none;
    font-family: 'Raleway', sans-serif
;
}

.new:hover{
    color:white;
    text-decoration: none;
}
 /* Top navigation colors */
 .tenants{
    background-color: darkturquoise;
}
 /* Top navigation colors */
 .managers{
    background-color: #ffc500;
 }

.vendors{
     background-color: #E84A5F;
 }
 /* Side navigation parent vertical align */
 .vertnav{
     display: inline-block;
     width:10%;
     margin:5px;
     margin-right: 5px;
 }

 /* Side bar buttons */
 .vertnav a{
     height:60px;
     width: 60px;
     padding:7px;
     margin:5px;
     border-radius: 10%;
     padding-top: 10px;
 }

 /* style for units & items page links */
 ul .units, .items_style{
     display: inline-block;
     text-align: center;
     width:30%;
     margin:5px;
 }

 .logout{
     display:block;
     horiz-align: right;
     text-align: right;
     margin-bottom: 0px;
     text-decoration: none;
     font-family: 'Special Elite', cursive;
 }
span .pencil {
    float:right;
    width:50px;
}

/*span { width:500px;}*/
/*.nesting a {width:500px;}*/
/*a .pencil {display : none; }*/
