body{
    background-color: #2A363B;
}

h1{
    text-align: center;
    font-family: 'Cabin Sketch';}

h2{
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 25px;
}

nav{
    text-align: left;
}
nav a{
    color:black;
    text-decoration:none;
    text-align: center;
    display: inline-block;
    width: 20%;
    background-color: #FECEA8;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
    font-family: 'Architects Daughter';
    font-size: 20px;
}

nav a:hover{
    background-color: #99B898;
}

span{
    display:inline-block;
    width:100px;
    padding:1em;
    margin:1em;
    border-radius:10px;
    text-align: center;
    color:black;
}

label{
    word-wrap: break-word;
    text-align: center;
    display:block;
    width: auto;

}

.top{
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:0px;
    padding-top: 5px;

}
.alerts{T
    color:white;
    background-color: #E84A5F;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.items{
    background-color: #FECEA8;
    border-top-right-radius: 10px;
    padding: 10px;
}

.box{
    display: inline-block;
    text-align: center;
}
