<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <title> Landlord Program </title>

    {#  Page styles  #}
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">

    {#  Fonts loaded onto page  #}
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

    {% block bootstrap %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock bootstrap %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <h1> Landlord Management </h1>


    <nav class="nav">
        {# Horizontal top navigation #}
        <a class='buildings' href="{% url 'buildings:buildings' %}"> Structures </a>
        <a class='tenants' href='#'> Tenants </a>
        <a class='managers' href='#'> Managers </a>
        <a class='vendors' href='#'> Vendors </a>
    </nav>

    <article class="items">
        <a class='logout' href="{% url 'logout' %}">
            logout
        </a>

        {% block content %}
        {% endblock %}

    </article>
{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

<script type="text/javascript" src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/script" %}"></script>

</body>
</html>
