{% extends "base.html" %}

{% block content %}
<section>
    <nav class="vertnav">
        {# Vertical side navigation #}
        <a href="{% url 'buildings:building_form' %}" class="new"> Create building </a>
        <a href='#' class="new"> Remove building </a>
        <a href='#' class="new"> Visit room </a>

{#                <a href="{% url 'buildings:general_form' %}" class="new">#}
{#                    Enter room#}
{#                </a>#}
    </nav>

    <ul class="box">

        {# Create page title #}
        <header>
            <h2>
            {{ manager_name }}'s {{ title }}
            </h2>
        </header>

        {{ address }}
        {# Populate page with building database #}
        {% for building in buildings %}
            <li class="buildings">
                <a href="{% url 'buildings:units' building.building_name %}" onmouseover="hover_details(this)" onmouseout="hover_normalize(this)";>
                    <img src="../static/images/apartment.png" width=50px onmouseover="hover_details(this)" onmouseout="hover_normalize(this)";>
                    <br/>
                    {{ building }}
                </a>
            </li>
        {% endfor %}

    </ul>
</section>

{% endblock %}


