<!DOCTYPE html>
<html>

<head>
    <title> Landlord Program </title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="top">
        <h1> Landlord Management </h1>

        <nav class="nav">
            <a class='buildings' href='#'> Buildings </a>
            <a class='tenants' href='#'> Tenants </a>
        </nav>
    </div>
    <article class="items">
        <section>
            <header>
                <h2> Buildings </h2>
            </header>
            <ul class="box">
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;>
                        Building 1
                    </a>
                </span>
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;>
                        Building 2
                    </a>
                </span>
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;/>
                        Building 3
                    </a>
                </span>
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;/>
                        <label>
                            Building 4Building 4Building
                        </label>
                    </a>
                </span>
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;>
                        Building 5
                    </a>
                </span>
                <span>
                    <a href='#'>
                        <img src="../static/images/apartment.png" width=50px;>
                        Building 6
                    </a>
                </span>


            </ul>
        </section>

    </article>
    <article class="alerts">
        <section >
            <header>
                <h2> </h2>
            </header>
            <!-- <ul>

            </ul> -->
        </section>
    </article>
</body>

</html>
