{#{% load crispy_forms_tags %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{##}
{#{% load staticfiles %}#}
{##}
{#<head>#}
{#    <title> Landlord Program </title>#}
{##}
    {# Fonts loaded onto page #}
{#    <link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">#}
{#    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>#}
{#    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>#}
{#    <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Raleway' rel='stylesheet' type='text/css'>#}
{#    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>#}
{##}
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
{##}
{#</head>#}