{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:item_details_form' building_name unit_number room_name item_description %}" class="new">Create details</a>
            <a href='#' class="new"> Remove details </a>

        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    <a href="{% url 'buildings:units' building_name %}">{{building_name}}</a>,
                    <a href="{% url 'buildings:rooms' building_name unit_number %}">#{{unit_number}}</a>,
                    <a href="{% url 'buildings:items' building_name unit_number room_name %}">{{room_name}}</a>,
                    {{ item_description }}
                </h2>
            </header>

            {# Populate page with building database #}
            {% for item_detail in item_details %}
                <p class = 'items_style'>
                    <a href= "#"> {# "{% url 'units:rooms' unit %}"> #}
                        {{ item_detail }}
                    </a>
                </p>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}