{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            <!-- Vertical side navigation -->
            <a href="{% url 'buildings:item_details_form' building_name unit_number room_name item_description %}" class="new">Create details</a>
            <a href='#' class="new"> Remove details </a>

        </nav>

        <ul class="box">

            <!-- Create page title -->
            <header>
                <h2>
                    <a href="{% url 'buildings:units' building_name %}">{{building_name}}</a>,
                    <a href="{% url 'buildings:rooms' building_name unit_number %}">#{{unit_number}}</a>,
                    <a href="{% url 'buildings:items' building_name unit_number room_name %}">{{room_name}}</a>,
                    {{ item_description }}
                </h2>
            </header>

            <!-- {# Populate page with item details database #} -->
            {% for item_detail in item_details %}
                <section class = 'items_style'>
                    <p href= "#">
                        {{ item_detail.date }}<br/>
                        ${{ item_detail.cost }}<br/>
                        {{ item_detail.vendor }}
                    </p>
                </section>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}

{#{% block bootstrap %}#}
{#{% endblock bootstrap %}#}
