{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:item_form' building_name unit_number room_name%}" class="new">Create item</a>
            <a href='#' class="new"> Remove item </a>

        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    <a href="{% url 'buildings:units' building_name %}">{{building_name}}</a>,
                    <a href="{% url 'buildings:rooms' building_name unit_number %}">#{{unit_number}}</a>,
                     {{ room_name }}
                </h2>
            </header>

            {# Populate page with item database #}
            {% for item in items %}
                <p class = 'items_style'>
                    <a data-toggle="tooltip" title="{{ item_details.date }}
                    {{ item_details.cost }}" href= "
                    {% url 'buildings:item_details' building_name unit_number room_name item.item_description %}"> {# "{% url 'units:rooms' unit %}"> #}
                        {{ item }}
                    </a>
                </p>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}

{#{% block bootstrap %}#}
{#{% endblock bootstrap %}#}