{% extends "base.html" %}
{% load static %}
{% get_static_prefix as static_prefix %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:room_form' building_name unit_number %}" class="new"> Create room </a>
            <a href='#' class="new"> Remove room </a>

        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    <a href="{% url 'buildings:units' building_name %}">{{building_name}}</a>,
                    #{{ unit_number }}
                </h2>
            </header>

            {# Populate page with room database #}
            {% for room in rooms %}
                <li class = 'rooms'>
                    <a href= "{% url 'buildings:items' building_name unit_number room.room_name %}"> {# "{% url 'units:rooms' unit %}"> #}
                        {% if room.room_name == "bedroom" or room.room_name == "kitchen" or room.room_name == "bathroom" or room.room_name == "living room" or room.room_name == "study" or room.room_name == "dining room" %}
                            <img src="../../../../static/images/{{ room }}.png" width=50px;>
                        {% else %}
                            <img src="{% static 'images/window-frame.png' %}" width=50px;>
                        {% endif%}
                        {{ room }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}

{#{% block bootstrap %}#}
{#{% endblock bootstrap %}#}