{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:unit_form' building_name %}"
               class="new">
                Create new unit
            </a>
            <a href='#' class="new">
                Remove existing unit
            </a>
{#                 <a href='#' class="new">#}
{#                    Create new Item#}
{#                </a>#}
        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    {{ building_name }}
                </h2>
            </header>

            {# Populate page with building database #}
            {% for unit in units %}
                <li class = 'units'>
                    <a href= "
                    {% url 'buildings:rooms' building_name unit.unit_number %}">
                        {{ unit }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}