{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:unit_form' building_name %}" class="new">Create unit</a>
            <a href='#' class="new"> Remove unit </a>
            <a href='#' class="new"> Visit room </a>
{#                 <a href='#' class="new">#}
{#                    Create new Item#}
{#                </a>#}
        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    {{ building_name }}
                </h2>
{#                <h4 class=sub> {{ address }}</h4>#}
            </header>

            {# Populate page with unit database #}
            {% for unit in units %}
                <ul class = 'units'>
                <li>
                    {% if unit.is_rented == False %}
                        <a class='red' data-toggle="tooltip" title="parking #{{ unit.parking_space }}" href= "
                        {% url 'buildings:rooms' building_name unit.unit_number %}">
                            {{ unit }}
                        </a>
                    {% else %}
                        <a data-toggle="tooltip" title="parking #{{ unit.parking_space }}" href= "
                        {% url 'buildings:rooms' building_name unit.unit_number %}">
                            {{ unit }}
                        </a>
                    {% endif %}
                    <span type="button" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ unit.unit_number }}"></span>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                    <h4 class="modal-title" id="exampleModalLabel">Edit Building</h4>
                                </div>

                                <div class="modal-body">
                                    <div class='form-group'>
    {#                                  Auto populates modal form #}
                                        <form class="black_font" method='POST' action='/buildings/building_forms/'>{% csrf_token %}
                                            <label>unit number</label>
                                            <input value="{{ unit.unit_number }}"></br></input>
                                            <label>parking space</label>
                                            <input value="{{ unit.parking_space }}"></br></input>

                                            <label>is rented?</label>
                                            <input type="checkbox" value="{{ unit.is_rented }}"></br></input>
                                        </form>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" value='submit' class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                </ul>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}

{#{% block bootstrap %}#}
{#{% endblock bootstrap %}#}