{% extends "base.html" %}

{% block content %}
    <section>
        <nav class="vertnav">

            {# Vertical side navigation #}
            <a href="{% url 'buildings:unit_form' building_name %}" class="new">Create unit</a>
            <a href='#' class="new"> Remove unit </a>
            <a href='#' class="new"> Visit room </a>
{#                 <a href='#' class="new">#}
{#                    Create new Item#}
{#                </a>#}
        </nav>

        <ul class="box">

            {# Create page title #}
            <header>
                <h2>
                    {{ building_name }}
                </h2>
{#                <h4 class=sub> {{ address }}</h4>#}
            </header>

            {# Populate page with unit database #}
            {% for unit in units %}
                <ul class = 'units'>
                <li>
                    {% if unit.is_rented == False %}
                        <a class='red' data-toggle="tooltip" title="parking #{{ unit.parking_space }}" href= "
                        {% url 'buildings:rooms' building_name unit.unit_number %}">
                            {{ unit }}
                        </a>
                    {% else %}
                        <a data-toggle="tooltip" title="parking #{{ unit.parking_space }}" href= "
                        {% url 'buildings:rooms' building_name unit.unit_number %}">
                            {{ unit }}
                        </a>
                    {% endif %}
                    <span type="button" class="glyphicon glyphicon-pencil"></span>
                </li>

                </ul>
            {% endfor %}

        </ul>
    </section>

{#    <article class="alerts">#}
{#        <section>#}
{#            <!-- <ul>#}
{##}
{#            </ul> -->#}
{#        </section>#}
{#    </article>#}

{% endblock %}

{#{% block bootstrap %}#}
{#{% endblock bootstrap %}#}